
# This is a basic workflow to validate pull request from feature branch to develop 

name: ValidatePullRequestsToDevelop
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]
  workflow_dispatch:
   # Jobs to be executed
jobs:
    validate-pull-req-to-develop:
        runs-on: ubuntu-latest
        steps:
        # Checkout the source code
            - name: 'Checkout source code'
              uses: actions/checkout@v3
       # Install Salesforce CLI 
            - name: 'Install sfdx cli'
              uses: sfdx-actions/setup-sfdx@v1
              with:
               sfdx-auth-url: ${{ secrets.SIT_AUTH_SECRET }}
       # Validate deployment against sit
            - name: 'validate source against sit org'
              run: sfdx force:source:deploy --testlevel RunLocalTests --checkonly  -p force-app/main/default --verbose
       # Setup Java     
            - name: 'setup java'
              uses: actions/setup-java@v3
              with:
                distribution: 'temurin'
                java-version: '11'
        # Setup and run PMD rules
            - name: 'Setup and run PMD rules'
              uses: pmd/pmd-github-action@v1
              id: pmd
              with:
                sourcePath: 'force-app/main/default'
                rulesets: 'rulesets/apex/ruleset.xml'
                analyzeModifiedFilesOnly : false
            - name: 'log output'
              if: steps.pmd.outputs.violations != 0
              run: echo "pmd outout is => ${{steps.pmd.outputs.violations}}"
        # Validate PMD violation
            - name: Fail build if there are violation
              if: steps.pmd.outputs.violations != 0
              run: exit 1
      
   

   
