
# This is a basic workflow to validate pull request from feature branch to develop 

name: ValidatePullRequestsToDevelop
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]
  workflow_dispatch:
   # Jobs to be executed
jobs:
    validate-pull-req-in-sit:
        runs-on: ubuntu-latest
        steps:
        # Checkout the source code
            - name: 'Checkout source code'
              uses: actions/checkout@v2
       # Install Salesforce CLI and validate deployment against sit
            - uses: sfdx-actions/setup-sfdx@v1
              with:
               sfdx-auth-url: ${{ secrets.SIT_AUTH_SECRET }}
            - name: 'validate source against sit org'
              run: sfdx force:source:deploy --testlevel RunLocalTests --checkonly  -p force-app/main/default --verbose
    check-apex:
        runs-on: ubuntu-latest
        steps:
          - name: Check APEX Code using PMD ruleset
            uses: legetz/setup-pmd@v6.48
          - run: pmd --dir ./force-app/main/default/classes -R category/apex/design.xml -f text

   
